body{
    background-color: #777;
    height: 19px;
    margin: 0px;
    padding: 0px;
}

.clock{
    /* height: 2px; */
    padding: 0px;
    margin: 1px 0px;
    clear: both;
}


#clock1 .progress{
    height: 7px;
    background-color: #FF6F5E;
}

#clock2 .progress{
    height: 4px;
    background-color: #F5F0E3;
    width: 50px;
}

#clock3 .progress{
    height: 2px;
    background-color: #54e2e4;
    width: 1100px;
}